.features {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.featureItem {
  flex: 1;
  min-width: 250px;
  margin: 0;
  padding: 25px;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-bg);
  transition: all 0.3s ease;
  overflow: hidden;
  box-sizing: border-box; 
}

.featureItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.featureTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 15px;
}

.featureContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.featureMoney {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary-text);
}

.featureRate {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.featureIcon {
  font-size: 20px;
  margin-left: 5px;
  color: #3bb077; 
}

.featureIcon.negative {
  color: #d95087; 
}

.featureSub {
  font-size: 14px;
  color: var(--secondary-text);
  margin-top: 10px;
}


@media (max-width: 1024px) {
  .featureItem {
    min-width: calc(50% - 20px); 
  }
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    gap: 15px;
  }
  
  .featureItem {
    min-width: 100%; 
    padding: 20px;
  }
  
  .featureMoney {
    font-size: 24px;
  }
}